@page "/dashboard"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Bienvenido @context.User.Identity!</h1>
    </Authorized>
</AuthorizeView>


@code {

}
