@page "/TicketTable"
@using Ticmanso.Data;

@inject TicketService TicketService

<ul>
    @foreach (var ticket in viewTickets)
    {
        <li>
            <strong>@ticket.Title</strong> -
            Creado por: @ticket.creation_user -
            Estado: @ticket.status
        </li>
    }
</ul>

@code {
    private List<ViewTickets> viewTickets;

    protected override async Task OnInitializedAsync()
    {
        viewTickets = await TicketService.GetTicketsForView();
    }
}