
/*.mud - table - container {
    width: 100 %;
    overflow - x: auto;
    color:blueviolet;
}

.mud - table {
    display: grid;
    grid - template - columns: repeat(auto - fit, minmax(150px, 1fr));
}


@media(max - width: 768px) {
    .mud - table {
        grid - template - columns: repeat(auto - fit, minmax(100px, 1fr));
    }
}*/
