@using Microsoft.AspNetCore.Components.Authorization
@using TicmansoV2.Pages
@inject NavigationManager NavManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing><h2>Please wait...</h2></Authorizing>
                <NotAuthorized>
                    @{
                        var authState = context.User;
                        if (authState?.Identity?.IsAuthenticated != true)
                        {
                            NavManager.NavigateTo("/");
                        }
                        else
                        {
                            <p class="alert alert-danger">Not authorized</p>
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(LoginLayout)">
                <div class="content" style="position: absolute;left: 50%;transform: translate(-50%, 10%);">
                    <h1>Parece que te has perdido</h1>

                    <p class="pt-5"> La página que estas buscando no existe.</p>

                    <img src="images/error404.png" />
                    <p>
                        <a href="/">Volver a la página principal.</a>
                    </p>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
