.loginGrid {
    height: 100vh;
    margin-top: 10vh;
    padding-top: 10vh;
}

.loginLogo {
    margin-left: auto;
    height: 50px;
    width: 150px;
}

.LoginCard {
    border-radius: 1rem;
    border-color: darkgrey;
}

.DshBrdContainer {
    margin-top: 10vh;
    padding-top: 10vh;
}

div.DashBoardSpacer {

    margin: 2vh;
}

.MLAppBar {
    color: red;
    background-color: rebeccapurple;
}
.cmptCentrado {
    margin-top: 5vh;
    box-shadow: 0 4px 6px rgba(100, 147, 181, 1), 0 1px 3px rgba(100, 147, 181, 0.5);
}
.btnTT {
    margin-left:10px;
    margin-top:10px;
}

.LayLogo {
    margin-left: auto;
    height: 50px;
    width: 100px;
}

